NODE_ENV=development
PORT=5000

CLIENT_URL=http://localhost:5000/api/v1/auth

MONGODB_URI=mongodb://127.0.0.1:27017/kitchen-ledger

JWT_ACCESS_SECRET=smart_kitchen_access_secret
JWT_REFRESH_SECRET=smart_kitchen_refresh_secret

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback

OWNER_NAME=Owner
OWNER_EMAIL=owner@kitchenledger.dev
OWNER_PASSWORD=owner123


SESSION_SECRET=smart_kitchen_session_secret